<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http:/www.thymeleaf.org"><!--zh-CN中文-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>帕劳_帕劳旅游_帕劳自助游_帕劳旅游报价_帕劳自由行_帕劳旅游指定官方网站</title>
    <meta name="description" content="帕劳旅游官网专业制定行程安排，旅游bus租赁，游艇畅游,潜水,海钓团体，婚纱摄影，潜水服务，海钓服务，高端定制游，个性定制游。度身制作的精美海岛行程，满足不同层次客户的需求，是帕劳旅游的首选合作伙伴。帕劳旅游免费热线：4008-4567-18" />
    <meta name="keywords" content="帕劳,帕劳旅游,帕劳自助游攻略,帕劳旅游报价,帕劳自由行,帕劳旅游要多少钱" />
     <link  href="../style/css/bootstrap.css" rel="stylesheet">
    <link href="../style/css/bootstrap-theme.css" rel="stylesheet">
    	<link href="../style/css/pay.css" rel="stylesheet">
    		<link rel="stylesheet" href="../style/css/zzsc.css"/>
    		<link rel="stylesheet" type="text/css" href="../style/css/header-foot.css"/>
     <!--less-->
    <link rel="stylesheet" type="text/css" href="../style/css/more.css"/>
    <link rel="stylesheet/less" type="text/css" href="styles.less">
   <script src="less.js" type="text/javascript"></script>

    	<h1 th:text="${msg}">test</h1>
<!--商品展示图-->

<!--商品展示图-->
     <!--[if lt IE 9]>
    <script src="../style/js/html5shiv.js"></script>
    <script src="../style/js/respond.min.js"></script>
    <![endif]-->
   
  </head>
  <body >
<!--首页nav导航-->
<!--首页nav导航-->
<!--main-->
<div class="container login">
	<div class="row">
		<div class="col-md-8 col-xs-12 right">
			 <img src="../style/image/denglu_03.png"/>
		</div>
		<div class="col-md-4 col-xs-12 left">
			  <!--登录-->
			  <div class="panel panel-default">
						 <div class="panel-heading">账号登录</div>
						 <div class="panel-body">
						<form class="form-horizontal">
							   <div class="form-group">
								  <label class="col-lg-2 control-label">账号</label>
								  <div class="col-lg-10">
									 <input type="email" placeholder="" class="form-control">
								  </div>
							   </div>
							   <div class="form-group">
								  <label class="col-lg-2 control-label">密码</label>
								  <div class="col-lg-10">
									 <input type="password" placeholder="" class="form-control">
								  </div>
							   </div>
							   <div class="form-group">
								  <div class="col-lg-offset-2 col-lg-10">
									 <div class="checkbox c-checkbox">
										<label>
										   <input type="checkbox" checked="">
										   <span class="fa fa-check"></span>记住</label>
									 </div>
								  </div>
							   </div>
							   <div class="form-group">
								  <div class="col-lg-offset-2 col-lg-10 ">
									 <button type="submit" class="btn btn-sm ">登录</button>
								  </div>
							   </div>
							   <div class="form-group">
								  <div class="col-lg-offset-2 col-lg-10">
									 <a href="register.html" class="btn btn-block btn-lg ">注册</a>
								  </div>
							   </div>
							   <div class="form-group hezuo">
							   	<div class="col-lg-offset-2  col-lg-12">
							   	   <span>使用合作网站登录海岛：</span>
							   	   <a href="">QQ</a>|
							   	   <a href="">微信</a>|
							     	 <a href="">微博</a>
							     	 </div>
							   </div>
							</form>
						 </div>
						</div>
			  <!--登录-->
		</div>
	</div>
</div>
</div>
<!--main-->

</body>
<script src="../style/js/jquery-1.11.1.min.js"></script>

<script type="text/javascript" src="../style/js/jquery.pin.js"></script>


</html>



